# Maven
target/
*.class
*.jar
*.war
*.ear
*.nbm

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.netbeans/
.apt_generated/
.apt_generated_tests/

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# OS
.DS_Store
thumbs.db
desktop.ini

# User specific
*.log
*.tmp
*.bak

# Windsurf
.windsurf/
